<div id="yui-main"> 
	<div class="yui-b">
		<div class="navigator">
			<h1><%= start_date.strftime("%B %Y") %></h1>
			<ul class="nolist">
				<li><%= date_navigation_link :previous %></li>
				<li><%= date_navigation_link :next %></li>
			</ul>
		</div>
	</div>
   <div class="yui-b">
   	<div class="yui-ge">
			<div class="yui-u first">
				<div id="entries_by_day">
				<%= render :partial => "grouped_index", :locals => {:journal_entries => journal_entries_for_index} %>
				</div>
			</div>
			<div class="info_for_month yui-u">
				<p class="summary">
					<strong>Total hours</strong>
					<span class="total"><%= total_hours_for_index %></span>
				</p>
			</div>
   	</div>
   </div> 
</div>