<div id="yui-main"> 
	<div class="yui-b">
		<div class="navigator">
			<h1><%= start_date.strftime("%B %Y") %></h1>
			<ul class="nolist">
				<li><%= date_navigation_link :previous %></li>
				<li><%= date_navigation_link :next %></li>
			</ul>
		</div>
	</div>
   <div class="yui-b">
   	<div class="yui-ge">
			<div class="yui-u first">
				<div id="entries_by_day">
				<%= render :partial => "grouped_index", :locals => {:journal_entries => journal_entries_for_index} %>
				</div>
			</div>
			<div class="info_for_month yui-u">
				<%= link_to_lightbox "Add entry", new_journal_entry_path, :class => "action new" %>
				
				<p class="summary">
					<strong>Total hours</strong>
					<span class="total"><%= total_hours_for_index %></span>
				</p>
				
				<% if current_month? %>
				<%= html_graph %>
				
				<table>
				<% (hbc ||= Analyzer.hours_by_client(journal_entries_for_index)).each do |client, hash| %>
				<tr>
					<th><%= client %></th>
					<td><%= hash[:hours] %></td>
					<td><%= hash[:total] %></td>
				</tr>
				<% end %>
				<tr>
					<th colspan="2">Total revenue</th>
					<td><%= revenue = (hbc.collect { |a| a.last[:total] }.sum) %></td>
				</tr>
				<tr>
					<th colspan="2">Average hourly rate</th>
					<td><%= number_with_precision(revenue / total_hours_for_index, 2) %></td>
				</tr>
				</table>
				<% end %>
			</div>
   	</div>
   </div> 
</div>