<table id="entries_index" class="list_view" cellspacing="0" border="0">
<% JournalEntry::Analyzer.group_by_day(journal_entries).each do |date, entries| %>
	<% next if (entries.empty? && (date.cwday > 5)) %>

	<tr class="date_header">
		<th colspan="5">
			<span class="weekday"><%= date.strftime("%a") %></span>
			<span class="date"><%= date.to_s(:long) %></span>
		</th>
	</tr>
	<% if entries.empty? %>
	<tr class="noentries">
		<td colspan="4">No entries for this date</td>
	</tr>
	<% else %>
	<% entries.group_by(&:client).sort { |a, b| a[0].to_s <=> b[0].to_s }.each do |client, client_entries| %>
	
	<tr class="header_row">
		<th><strong><%= client %></strong></th>
		<th class="hours">Hours</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>
	<% content_tags_for :tr, client_entries do |entry| %>
		<td><%= trackable_label client, entry.trackable %> <%= entry.notes %></td>
		<td class="hours"><%= entry.hours %></td>
		<td><%= entry.billable ? "*" : "&nbsp;" %></td>
		<td class="actions">
			<%= link_to_lightbox "Edit", [:edit, entry], :class => "action edit" %>
			<%= link_to_remote "Delete", {:url => entry, :method => :delete, :confirm => "Are you sure?"}, :class => "action delete" %>
		</td>
	<% end %>
	<% end %>
	<tr class="summary">
		<td colspan="1">&nbsp;</td>
		<td class="hours">
			<strong>Totals</strong>
			<%= total_hours = entries.map(&:hours).map(&:to_f).sum %>
		</td>
		<td colspan="2">&nbsp;</td>
	</tr>
	<% end %>
<% end %>
</table>