<% render :layout => "/shared/date_navigator" do %>
<div class="st-log-header">
	<h2>Time Log</h2>

	<p class="view_switcher">
		<%= switcher_item "Group by day", :group_by, "day" %>
		<span class="sep">|</span>
		<%= switcher_item "Group by client", :group_by, "project" %>
		<span class="sep">|</span>
		<%= switcher_item "Show ungrouped", :group_by, "ungrouped" %>
	</p>
	
	<hr/>
</div>

<%- if params[:group_by] == "ungrouped" -%>
<table class="st-log">
<tr class="header">
	<th>For</th>
	<th>Date</th>
	<th>Notes</th>
	<th class="num">Hours</th>
	<th class="num">Revenue</th>
	<th>&nbsp;</th>
</tr>
<% content_tags_for :tr, @journal_entries.sort { |a, b| b.date <=> a.date }, :cycle => %w(even odd) do |entry| %>
	<td class="trackable"><%= entry.trackable %></td>
	<td class="date"><%= entry.date %></td>
	<td class="notes"><%= entry.notes %></td>
	<td class="num hours"><%= entry.hours %></td>
	<td class="num revenue"><%= number_to_currency entry.revenue_in_dollars %></td>
	<td class="actions">
		<div>
			<%= link_to "Edit", [:edit, entry], :class => "a-edit" %>
			<a href="#" class="a-delete"><span>Delete</span></a>
		</div>
	</td>
<% end %>

<tr class="summary">
	<th scope="row" colspan="3">Totals</th>
	<td class="num hours"><%= @journal_entries.collect(&:hours).sum %></td>
	<td class="num revenue"><%= number_to_currency @journal_entries.collect(&:revenue_in_dollars).sum %></td>
	<td class="actions spacer">&nbsp;</td>
</tr>
</table>
<%- else -%>

<% group_by_param(@journal_entries).each do |header, hash| %>
<div class="st-log-section">
	<div class="hd">
		<h3><%= header_text(header) %></h3>
	</div>
	<div class="bd">
	
	<%- hash.each do |subhead, entries| -%>
	<div class="grouping <%= params[:group_by] %>">
		<h4><%= subhead %></h4>

		<table class="st-log">
		<% content_tags_for :tr, entries do |entry| %>
			<td class="notes"><%= entry.notes %></td>
			<td class="num hours"><%= entry.hours %></td>
			<td class="num revenue"><%= number_to_currency entry.revenue_in_dollars %></td>
			<td class="actions">
				<div>
					<%= link_to "Edit", [:edit, entry], :class => "a-edit" %>
					<a href="#" class="a-delete"><span>Delete</span></a>
				</div>
			</td>
		<% end %>

		<tr class="summary">
			<th class="notes" scope="row">Totals</th>
			<td class="num hours"><%= entries.hours %></td>
			<td class="num revenue"><%= number_to_currency entries.revenue_in_dollars %></td>
			<td class="actions spacer">&nbsp;</td>
		</tr>
		</table>
	</div>	
	<%- end -%>
	
	</div>
	<div class="ft">
	<table class="st-log section-summary">
		<tr>
			<% all_entries = hash.collect(&:last).flatten %>
			<th class="notes" scope="row">Totals for <%= header %></th>
			<td class="num hours"><%= all_entries.collect(&:hours).sum %></td>
			<td class="num revenue"><%= number_to_currency all_entries.collect(&:revenue_in_dollars).sum %></td>
			<td class="actions spacer">&nbsp;</td>
		</tr>
	</table>
	</div>
</div>
<hr class="section-divider" />
<% end %>
<%- end -%>

<% end %>