<%= stylesheet_link_tag "time_entries" %>
<% render :layout => "/shared/date_navigator" do %>
<table class="sylr-log">
<% group_by_param(@journal_entries).each do |header, hash| %>
<tr class="section">
	<th colspan="4"><h3><%= header_text(header) %></h3></th>
</tr>
<% hash.each do |subhead, entries| %>
	<tr class="section">
		<th colspan="4"><h4><%= subhead %></h4></th>
	</tr>

	<% content_tags_for :tr, entries do |entry| %>
		<td class="notes"><%= entry.notes %></td>
		<td class="num hours"><%= entry.hours %></td>
		<td class="num revenue"><%= number_to_currency entry.revenue_in_dollars %></td>
		<td class="actions">
			<div>
				<a href="#" class="a-edit"><span>Edit</span></a>
				<a href="#" class="a-trash"><span>Delete</span></a>
			</div>
		</td>
	<% end %>
	
	<tr class="summary">
		<th scope="row">Totals</th>
		<td class="num hours"><%= entries.collect(&:hours).sum %></td>
		<td class="num revenue"><%= number_to_currency entries.collect(&:revenue_in_dollars).sum %></td>
		<td>&nbsp;</td>
	</tr>
<% end %>
<tr class="spacer">
	<td colspan="4"><hr /></td>
</tr>
<tr class="section-summary">
	<% all_entries = hash.collect(&:last).flatten %>
	<th scope="row">Totals for <%= header %></th>
	<td class="num hours"><%= all_entries.collect(&:hours).sum %></td>
	<td class="num revenue"><%= number_to_currency all_entries.collect(&:revenue_in_dollars).sum %></td>
	<td>&nbsp;</td>
</tr>
<tr class="spacer">
	<td colspan="4"><hr /></td>
</tr>

<% end %>
</table>


<% content_for :sidebar do %>

<%= link_to_lightbox "Add new entry", url_params_for({:action => "new", :format => :lightbox}) %>

<ul class="view_select clearfix">
	<li class="<%= is_current :group_by, "day" %>"><%= link_to "Group by day", url_params_for(:group_by => "day") %></li>
	<li class="<%= is_current :group_by, "project" %>"><%= link_to "Group by project", url_params_for(:group_by => "project") %></li>
</ul>

<div class="scoreboard">
	<h4>Total Hours</h4>
	<p><%= @journal_entries.map(&:hours).sum %></p>
</div>

<div class="scoreboard">
	<h4>Total Revenue</h4>
	<p><%= number_to_currency @journal_entries.map(&:revenue_in_dollars).sum %></p>
</div>

<div class="scoreboard">
	<h4>Average Hourly</h4>
	<p><%= number_to_currency(((@journal_entries.map(&:revenue_in_dollars).sum / @journal_entries.map(&:hours).sum) rescue 0))  %></p>
</div>

<% end %>
<% end %>