<% render :layout => "/shared/date_navigator" do %>
<h2>Time Log</h2>
<ul class="view_select clearfix">
	<li class="<%= is_current :group_by, "day" %>"><%= link_to "Group by day", url_params_for(:group_by => "day") %></li>
	<li class="<%= is_current :group_by, "project" %>"><%= link_to "Group by project", url_params_for(:group_by => "project") %></li>
</ul>

<%= link_to "New entry", url_params_for(:action => "new", :group_by => nil) %>

<table class="st-log">
<% group_by_param(@journal_entries).each do |header, hash| %>
<tr class="section">
	<th colspan="4"><h3><%= header_text(header) %></h3></th>
</tr>
<% hash.each do |subhead, entries| %>
	<tr class="section">
		<th colspan="4"><h4><%= subhead %></h4></th>
	</tr>

	<% content_tags_for :tr, entries do |entry| %>
		<td class="notes"><%= entry.notes %></td>
		<td class="num hours"><%= entry.hours %></td>
		<td class="num revenue"><%= number_to_currency entry.revenue_in_dollars %></td>
		<td class="actions">
			<div>
				<%= link_to "Edit", [:edit, entry], :class => "a-edit" %>
				<a href="#" class="a-trash"><span>Delete</span></a>
			</div>
		</td>
	<% end %>
	
	<tr class="summary">
		<th scope="row">Totals</th>
		<td class="num hours"><%= entries.collect(&:hours).sum %></td>
		<td class="num revenue"><%= number_to_currency entries.collect(&:revenue_in_dollars).sum %></td>
		<td>&nbsp;</td>
	</tr>
<% end %>
<tr class="spacer">
	<td colspan="4"><hr /></td>
</tr>
<tr class="section-summary">
	<% all_entries = hash.collect(&:last).flatten %>
	<th scope="row">Totals for <%= header %></th>
	<td class="num hours"><%= all_entries.collect(&:hours).sum %></td>
	<td class="num revenue"><%= number_to_currency all_entries.collect(&:revenue_in_dollars).sum %></td>
	<td>&nbsp;</td>
</tr>
<tr class="spacer">
	<td colspan="4"><hr /></td>
</tr>

<% end %>
</table>

<% end %>