<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Sylar</title>
	<%= stylesheet_link_tag "default", "lightbox" %>
	<%= javascript_include_tag :defaults %>
</head>

<body>

<div id="container">
<%= content_tag :p, system_message, :id => "system_message", :class => system_message_class if system_message %>
<div id="header" class="clearfix">
	<h1>Practical Creative &amp; Code</h1>
	<ul class="main_navigation nolist">
		<%= nav_item "Journal", journal_entries_path, :journal_entries %>
		<%= nav_item "Clients", clients_path %>
		<%= nav_item "Projects", projects_path %>
	</ul>
</div>
<%= yield :layout %>
</div>

<%= lightbox_tag %>
<script type="text/javascript" charset="utf-8">
Fields.observeCurrencyFields()
</script>
</body>
</html>
